#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  max-width: 42rem;
  padding: 3rem;
  border: 1px solid #b97852;
  border-radius: 1rem;
  background: #f6e2be;
  box-shadow: 0 1rem 3rem rgba(58, 33, 24, 0.24);
}

.fun-fact {
  min-height: 3rem;
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #6e4939;
}

.fun-fact-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #a64b2a;
}